<p>Welcome to the Expanse<% if logged_in? %>, <%= current_user.email %><% end %>

<p>React app should be mounted here

<p>Debug Tools:
<ul>
  <li><a href='/login'>Login</a></li>
  <li><a href='/logout'>Logout</a></li>
</ul>
